<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">
	<title>Editor</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="/css/general.css"/>
	<link rel="stylesheet" type="text/css" href="/css/backend/admin_base.css"/>
</head>
<body>
	<div class="header mb-50">
		<h2 class="header-2 white"><%= title %></h2>
	</div>
	<div class="container-admin">
		<div class="container-grid">
			<div class="sidebar-nav">
				<ul>
					<li class="mb-10">
						<a class="sidebar-link" href="/">Studenten Übersicht</a>
					</li>
					<li>
						<a class="sidebar-link <%if(title==='Admin Übersicht') {%>--active <% } %>" href="/admin">Admin Übersicht</a>
					</li>
				</ul>
				<div class="break mt-20 mb-20"></div>
				<ul>
					<li class="mb-10">
						<a class="sidebar-link <%if(title==='Section-Instance Übersicht') {%>--active <% } %>" href="/admin/sectioninstances">Section-Instance Übersicht</a>
					</li>
					<li class="mb-10">
						<a class="sidebar-link <%if(title==='Section Übersicht') {%>--active <% } %>" href="/admin/sections">Section Übersicht</a>
					</li>
					<li class="mb-10">
						<a class="sidebar-link <%if(title==='Task-Instance Übersicht') {%>--active <% } %>" href="/admin/taskinstances">Task-Instance Übersicht</a>
					</li>
					<li>
						<a class="sidebar-link <%if(title==='Task Übersicht') {%>--active <% } %>" href="/admin/tasks">Task Übersicht</a>
					</li>
				</ul>
				<div class="break mt-20 mb-20"></div>
				<ul>
					<li class="mb-10">
						<a class="sidebar-link <%if(title==='Erstelle neuen Task') {%>--active <% } %> " href="/admin/task/create">Erstelle neuen Task</a>
					</li>
					<li class="mb-10">
						<a class="sidebar-link <%if(title==='Erstelle neue Task-Instance') {%>--active <% } %>" href="/admin/taskinstance/create">Erstelle neue Task-Instance</a>
					</li>
					<li class="mb-10">
						<a class="sidebar-link <%if(title==='Erstelle neue Section') {%>--active <% } %>" href="/admin/section/create">Erstelle neue Section</a>
					</li>
					<li>
						<a class="sidebar-link <%if(title==='Erstelle neue Section-Instance') {%>--active <% } %>" href="/admin/sectioninstance/create">Erstelle neue Section-Instance</a>
					</li>
				</ul>
			</div>
			<%- content %>
		</div>
	</div>
	<script src="/js/admin_index.bundle.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
	<script>
  		feather.replace()
	</script>
</body>
</html>