<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MY APP</title>
</head>
<body>
	<h1><%= title %></h1>
	<form action="" method="POST">
		<input type="number" placeholder="Section number" name="section_number">
		<input type="text" placeholder="Name" name="name">
		<input type="text" placeholder="Description" name="description">
		<button type="submit">Submit</button>
	</form>
</body>
</html>