<% extend('admin_base') %>
<div class="content">
	<p>Diese Sectioninstanz existiert bereits, bitte gehen Sie <a class="link" href="javascript: history.go(-1)">zurück</a> und ändern Sie die Nummer der Instanz, oder schauen Sie sich die <a href="<%= url %> ">Detail Seite</a> der Instanz an und/oder aktuallisieren sie.</p>
</div>
</div>
