<% extend('admin_base') %>
	<div class="content mb-50">
		<p>Möchten sie diese Section: <a href="<%= sectioninstance.url %>"><%= sectioninstance.sectionInstance_number %>. <%= sectioninstance.name %></a> wirklich löschen?</p>
		<form action="" method="POST">
			<div class="form-group mb-40">
				<input class="input" required="true" type="hidden" name="id" value="<%= sectioninstance._id %>" >
			</div>
			<button class="btn" type="submit">Löschen</button>
		</form>
	</div>