<% extend('admin_base') %>
<div class="content mb-20">
	<p class="mb-20"><strong>Bitte beachten Sie: Dieses Tool befindet sich noch in der Beta-Version.</strong></p>
	<p class="mb-20"><strong>Bitte löschen Sie vor jedem neuen Generieren der Dateien den kompletten Ordner: <code>src > js > tests > sectioninstance<%=sectioninstance.sectionInstance_number %></code> > *</strong></p>
	<p>Es wurden die nötigen Testdateien für die Sectioninstance <a href="<%=sectioninstance.url %>">"<%=sectioninstance.name %>"</a> unter folgendem Verzeichnis erstellt <code>src > js > tests > sectioninstance<%=sectioninstance.sectionInstance_number %></code></p>
</div>


