<% extend('admin_base') %>
	<div class="content">
		<p><strong>Task Nummer: </strong></p>
		<p class="mb-20"><%= task.task_number %></p>
		<p><strong>Task Name: </strong></p>
		<p class="mb-20"><%= task.name %></p>
		<p><strong>Task Description: </strong></p>
		<p class="mb-20"><%= task.description %></p>
	</div>