<% extend('admin_base') %>
<div class="content mb-20">
	<p class="mb-20">Alle Sections in der Datenbank:</p>
	<ul>
		<% for(let i = 0; i < taskinstance_list.length; i++) { %>
			<li>
				<a href="<%=taskinstance_list[i].url%>"><%=taskinstance_list[i].name%></a>
			</li>
		<% } %>
	</ul>
</div>


