<% extend('admin_base') %>
<div class="content mb-20">
	<link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
	<% if(typeof task == 'undefined') { %>
		<p class="mb-20">Fill in the form for your Subtasks:</p>
		<form action="" method="POST">
			<div class="form-group-col-2">
				<div class="form-group mb-40">
					<input class="input" type="number" name="task_number" placeholder=" ">
					<label class="input-label" for="task_number">Task Number</label>
				</div>
				<div class="form-group mb-40">
					<input class="input" type="text" name="name" placeholder=" ">
					<label class="input-label" for="name">Titel</label>
				</div>
				<div class="form-group mb-40">
					<input class="input" type="text" name="suffix" placeholder=" ">
					<label class="input-label" for="suffix">Hierachie (z.B. 1.1.1.1)</label>
				</div>
			</div>
			<div class="form-group mb-40">
				<input name="description" type="hidden">
				<div class="scrolling-container">
					<div id="editor-container"></div>
				</div>
			</div>
			<button class="btn" type="submit">Submit</button>
		</form>
	<% } else { %>
		<p class="mb-20">Fill in the form for your Subtasks:</p>
		<form action="" method="POST">
			<div class="form-group-col-2">
				<div class="form-group mb-40">
					<input class="input" type="number" value="<%= task.task_number %>" name="task_number" placeholder=" ">
					<label class="input-label" for="task_number">Task Number</label>
				</div>
				<div class="form-group mb-40">
					<input class="input" type="text" value="<%= task.name %>" name="name" placeholder=" ">
					<label class="input-label" for="name">Tiel</label>
				</div>
				<div class="form-group mb-40">
					<input class="input" type="text" value="<%= task.suffix %>" name="suffix" placeholder=" ">
					<label class="input-label" for="suffix">Hierachie (z.B. 1.1.1.1)</label>
				</div>
			</div>
			<div class="form-group mb-40">
				<input name="description" type="hidden">
				<div class="scrolling-container">
					<div id="editor-container"><%- task.description %></div>
				</div>
			</div>
			<button class="btn" type="submit">Submit</button>
		</form>
	<% } %>
	<script src="/js/quill_setUp.bundle.js"></script>
</div>