<% extend('admin_base') %>
<div class="content mb-20">
	<link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/backend/quillEditor_admin.css"/>
	<div class="loading-screen">
		<img class="mb-20" src="/svg/spinner.gif" alt="">
		Bild lädt hoch...
	</div>
	<% if(typeof task == 'undefined') { %>
		<p class="mb-20">Fill in the form for your Subtasks:</p>
		<form action="" name="form1" method="POST">
			<div class="form-group-col-2">
				<div class="form-group mb-40">
					<% if(typeof error !== 'undefined') { %>
						<label class="input-label_error  --error" for="task_number"><%= error %></label>
					<% } %>
					<label class="input-label_error" for="task_number">Dies ist ein Pflichtfled</label>
					<input class="input validate-me-js" type="text" name="name" placeholder=" " onchange="validateField(this)">
					<label class="input-label" for="name">Titel*</label>
				</div>
			</div>
			<div class="form-group mb-40">
				<input name="description" type="hidden">
				<div class="scrolling-container">
					<div id="editor-container"></div>
				</div>
			</div>
			<button class="btn" type="submit">Submit</button>
		</form>
	<% } else { %>
		<p class="mb-20">Fill in the form for your Subtasks:</p>
		<form action="" method="POST" name="form1">
			<div class="form-group-col-2">
				<div class="form-group mb-40">
					<label class="input-label_error <% if(typeof error !== 'undefined') { %> --error <% } %>" for="task_number">Dieser Taskname existiert bereits. Bitte benutzen Sie einen anderen Namen.</label>
					<input class="input" type="text" value="<%= task.name %>" name="name" placeholder=" ">
					<label class="input-label" for="name">Titel</label>
				</div>
			</div>
			<div class="form-group mb-40">
				<input name="description" type="hidden">
				<div class="scrolling-container">
					<div id="editor-container"><%- task.description %></div>
				</div>
			</div>
			<button class="btn" type="submit">Submit</button>
		</form>
	<% } %>
	<script src="/js/validate_form.bundle.js"></script>
	<script src="/js/quill_setUp.bundle.js"></script>
</div>