.mt-10 {
  margin-top: 10px; }

.mb-10 {
  margin-bottom: 10px; }

.mr-10 {
  margin-right: 10px; }

.ml-10 {
  margin-left: 10px; }

.pt-10 {
  padding-top: 10px; }

.pb-10 {
  padding-bottom: 10px; }

.mt-20 {
  margin-top: 20px; }

.mb-20 {
  margin-bottom: 20px; }

.mr-20 {
  margin-right: 20px; }

.ml-20 {
  margin-left: 20px; }

.pt-20 {
  padding-top: 20px; }

.pb-20 {
  padding-bottom: 20px; }

.mt-30 {
  margin-top: 30px; }

.mb-30 {
  margin-bottom: 30px; }

.mr-30 {
  margin-right: 30px; }

.ml-30 {
  margin-left: 30px; }

.pt-30 {
  padding-top: 30px; }

.pb-30 {
  padding-bottom: 30px; }

.mt-40 {
  margin-top: 40px; }

.mb-40 {
  margin-bottom: 40px; }

.mr-40 {
  margin-right: 40px; }

.ml-40 {
  margin-left: 40px; }

.pt-40 {
  padding-top: 40px; }

.pb-40 {
  padding-bottom: 40px; }

.mt-50 {
  margin-top: 50px; }

.mb-50 {
  margin-bottom: 50px; }

.mr-50 {
  margin-right: 50px; }

.ml-50 {
  margin-left: 50px; }

.pt-50 {
  padding-top: 50px; }

.pb-50 {
  padding-bottom: 50px; }

.mt-60 {
  margin-top: 60px; }

.mb-60 {
  margin-bottom: 60px; }

.mr-60 {
  margin-right: 60px; }

.ml-60 {
  margin-left: 60px; }

.pt-60 {
  padding-top: 60px; }

.pb-60 {
  padding-bottom: 60px; }

.mt-70 {
  margin-top: 70px; }

.mb-70 {
  margin-bottom: 70px; }

.mr-70 {
  margin-right: 70px; }

.ml-70 {
  margin-left: 70px; }

.pt-70 {
  padding-top: 70px; }

.pb-70 {
  padding-bottom: 70px; }

.mt-80 {
  margin-top: 80px; }

.mb-80 {
  margin-bottom: 80px; }

.mr-80 {
  margin-right: 80px; }

.ml-80 {
  margin-left: 80px; }

.pt-80 {
  padding-top: 80px; }

.pb-80 {
  padding-bottom: 80px; }

.mt-90 {
  margin-top: 90px; }

.mb-90 {
  margin-bottom: 90px; }

.mr-90 {
  margin-right: 90px; }

.ml-90 {
  margin-left: 90px; }

.pt-90 {
  padding-top: 90px; }

.pb-90 {
  padding-bottom: 90px; }

.mt-100 {
  margin-top: 100px; }

.mb-100 {
  margin-bottom: 100px; }

.mr-100 {
  margin-right: 100px; }

.ml-100 {
  margin-left: 100px; }

.pt-100 {
  padding-top: 100px; }

.pb-100 {
  padding-bottom: 100px; }

.mt-110 {
  margin-top: 110px; }

.mb-110 {
  margin-bottom: 110px; }

.mr-110 {
  margin-right: 110px; }

.ml-110 {
  margin-left: 110px; }

.pt-110 {
  padding-top: 110px; }

.pb-110 {
  padding-bottom: 110px; }

.mt-120 {
  margin-top: 120px; }

.mb-120 {
  margin-bottom: 120px; }

.mr-120 {
  margin-right: 120px; }

.ml-120 {
  margin-left: 120px; }

.pt-120 {
  padding-top: 120px; }

.pb-120 {
  padding-bottom: 120px; }

.mt-130 {
  margin-top: 130px; }

.mb-130 {
  margin-bottom: 130px; }

.mr-130 {
  margin-right: 130px; }

.ml-130 {
  margin-left: 130px; }

.pt-130 {
  padding-top: 130px; }

.pb-130 {
  padding-bottom: 130px; }

.mt-140 {
  margin-top: 140px; }

.mb-140 {
  margin-bottom: 140px; }

.mr-140 {
  margin-right: 140px; }

.ml-140 {
  margin-left: 140px; }

.pt-140 {
  padding-top: 140px; }

.pb-140 {
  padding-bottom: 140px; }

.mt-150 {
  margin-top: 150px; }

.mb-150 {
  margin-bottom: 150px; }

.mr-150 {
  margin-right: 150px; }

.ml-150 {
  margin-left: 150px; }

.pt-150 {
  padding-top: 150px; }

.pb-150 {
  padding-bottom: 150px; }

.mt-160 {
  margin-top: 160px; }

.mb-160 {
  margin-bottom: 160px; }

.mr-160 {
  margin-right: 160px; }

.ml-160 {
  margin-left: 160px; }

.pt-160 {
  padding-top: 160px; }

.pb-160 {
  padding-bottom: 160px; }

.mt-170 {
  margin-top: 170px; }

.mb-170 {
  margin-bottom: 170px; }

.mr-170 {
  margin-right: 170px; }

.ml-170 {
  margin-left: 170px; }

.pt-170 {
  padding-top: 170px; }

.pb-170 {
  padding-bottom: 170px; }

.mt-180 {
  margin-top: 180px; }

.mb-180 {
  margin-bottom: 180px; }

.mr-180 {
  margin-right: 180px; }

.ml-180 {
  margin-left: 180px; }

.pt-180 {
  padding-top: 180px; }

.pb-180 {
  padding-bottom: 180px; }

.mt-190 {
  margin-top: 190px; }

.mb-190 {
  margin-bottom: 190px; }

.mr-190 {
  margin-right: 190px; }

.ml-190 {
  margin-left: 190px; }

.pt-190 {
  padding-top: 190px; }

.pb-190 {
  padding-bottom: 190px; }

.mt-200 {
  margin-top: 200px; }

.mb-200 {
  margin-bottom: 200px; }

.mr-200 {
  margin-right: 200px; }

.ml-200 {
  margin-left: 200px; }

.pt-200 {
  padding-top: 200px; }

.pb-200 {
  padding-bottom: 200px; }

.mt-210 {
  margin-top: 210px; }

.mb-210 {
  margin-bottom: 210px; }

.mr-210 {
  margin-right: 210px; }

.ml-210 {
  margin-left: 210px; }

.pt-210 {
  padding-top: 210px; }

.pb-210 {
  padding-bottom: 210px; }

.mt-220 {
  margin-top: 220px; }

.mb-220 {
  margin-bottom: 220px; }

.mr-220 {
  margin-right: 220px; }

.ml-220 {
  margin-left: 220px; }

.pt-220 {
  padding-top: 220px; }

.pb-220 {
  padding-bottom: 220px; }

.mt-230 {
  margin-top: 230px; }

.mb-230 {
  margin-bottom: 230px; }

.mr-230 {
  margin-right: 230px; }

.ml-230 {
  margin-left: 230px; }

.pt-230 {
  padding-top: 230px; }

.pb-230 {
  padding-bottom: 230px; }

.mt-240 {
  margin-top: 240px; }

.mb-240 {
  margin-bottom: 240px; }

.mr-240 {
  margin-right: 240px; }

.ml-240 {
  margin-left: 240px; }

.pt-240 {
  padding-top: 240px; }

.pb-240 {
  padding-bottom: 240px; }

.mt-250 {
  margin-top: 250px; }

.mb-250 {
  margin-bottom: 250px; }

.mr-250 {
  margin-right: 250px; }

.ml-250 {
  margin-left: 250px; }

.pt-250 {
  padding-top: 250px; }

.pb-250 {
  padding-bottom: 250px; }

.header-1 {
  font-size: 60px;
  font-weight: 700;
  font-family: "Roboto", "Avenir", "Helvetica Neue", sans-serif;
  margin-bottom: 20px; }

.header-2 {
  font-size: 20px;
  font-family: "Roboto", "Avenir", "Helvetica Neue", sans-serif;
  font-weight: 500;
  line-height: 1.4;
  color: #292929;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.header-3 {
  font-size: 16px;
  font-family: "Roboto", "Avenir", "Helvetica Neue", sans-serif;
  font-weight: 600;
  line-height: 0;
  color: #292929;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.white {
  color: #fff !important; }

.text-center {
  text-align: center; }

p, li, td {
  font-size: 15px;
  font-family: "Roboto", "Avenir", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  color: #292929;
  font-weight: 300; }

body {
  font-family: "Roboto", Avenir, "Helvetica Neue", sans-serif;
  color: #292929;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  max-width: 100vw;
  width: 100%; }

.header {
  position: relative;
  height: 50px;
  max-width: 100vw;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff;
  padding: 10px;
  background-color: #223342;
  display: flex; }
  .header.--big {
    height: 106vh;
    width: 100%;
    background-color: #2A3E50;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 95%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 95%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.break {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  border: 0;
  border-top: 1px solid #eee; }
  .break.--dark {
    border-color: #292929; }
  .break.--max-1000 {
    max-width: 960px;
    height: 20px; }

.section-container {
  max-width: 1000px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px; }

.arrow-down-svg {
  position: absolute;
  top: 90vh;
  cursor: pointer;
  fill: #fff;
  width: 50px;
  height: 50px;
  -webkit-animation: ArrowJump 2s infinite;
  animation: ArrowJump 2s infinite;
  -webkit-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s; }
  .arrow-down-svg:hover {
    fill: #292929; }

@-webkit-keyframes ArrowJump {
  0% {
    margin-top: 0; }
  50% {
    margin-top: 15px; }
  100% {
    margin-top: 0; } }

@keyframes ArrowJump {
  0% {
    margin-top: 0; }
  50% {
    margin-top: 15px; }
  100% {
    margin-top: 0; } }

.btn {
  padding: 10px;
  position: relative;
  background-color: #223342;
  font-size: 12px;
  color: #fff;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  max-height: 35px;
  white-space: nowrap;
  font-weight: 500;
  outline: none;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  .btn:hover {
    background-color: #446a89;
    color: #fff !important; }
  .btn.--grey {
    background-color: #ebebeb;
    color: #223342; }
    .btn.--grey:hover {
      background-color: #d6d4d4; }
  .btn.--icon {
    padding: 5px;
    background-color: transparent; }
    .btn.--icon:hover {
      background-color: #446a89; }

.container-admin {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative; }

.sidebar-link {
  text-decoration: none;
  color: #5a5b5e;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s; }
  .sidebar-link:hover {
    color: #478ac1; }
  .sidebar-link:active, .sidebar-link:visited {
    color: #292929; }
  .sidebar-link.--active {
    font-weight: 500; }

.container-grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 50px;
  position: relative;
  -ms-grid-columns: 150px minmax(250px, 1fr);
  grid-template-columns: 150px minmax(250px, 1fr); }

.form-group-col-2 {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 40px; }

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 100%; }

.input-label {
  position: absolute;
  font-size: 14px;
  font-family: "Roboto", "Avenir", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  color: #292929;
  font-weight: 300;
  margin-bottom: 10px;
  left: 10px;
  top: 14px;
  pointer-events: none;
  -webkit-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s; }

.input-label_error {
  position: absolute;
  top: calc(100% + 5px);
  font-size: 12px;
  font-family: "Roboto", "Avenir", "Helvetica Neue", sans-serif;
  color: #F7465D;
  display: none; }
  .input-label_error.--error {
    display: block; }
    .input-label_error.--error ~ .input {
      border: 1px solid #F7465D; }

.input {
  min-height: 50px;
  outline: none;
  background-color: #eee;
  border: 0;
  width: 100%;
  padding: 10px;
  border-radius: 2px;
  font-size: 14px;
  font-family: "Roboto", "Avenir", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  color: #292929;
  font-weight: 300;
  left: 10px; }
  .input:focus ~ .input-label, .input:not(:placeholder-shown) ~ .input-label {
    top: -20px;
    font-size: 12px; }
    .input:focus ~ .input-label > svg, .input:not(:placeholder-shown) ~ .input-label > svg {
      width: 12px;
      height: 12px; }
  .input.--textarea {
    height: 150px;
    resize: none; }
  .input.--output + .CodeMirror {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.code-label {
  position: relative;
  font-family: "Roboto", "Avenir", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  color: #292929;
  font-weight: 300;
  left: 10px;
  font-size: 12px;
  cursor: pointer; }

.checkbox-group {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 35px; }
  .checkbox-group:last-child > .list-value:after {
    border-bottom: 0; }
  .checkbox-group.--not-in-query {
    display: none; }
  .checkbox-group.--without-break > .list-value:after {
    border-bottom: 0; }

.search-icon {
  width: 16px;
  height: 16px;
  stroke: #000;
  margin-right: 5px;
  position: relative;
  top: 2px;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  -webkit-transition: width 0.3s, height 0.3s;
  -o-transition: width 0.3s, height 0.3s;
  transition: width 0.3s, height 0.3s; }

.list-value {
  position: relative;
  width: 100%;
  display: inline-block; }
  .list-value:after {
    content: " ";
    display: block;
    width: 100%;
    position: absolute;
    top: 25px;
    left: 0;
    border-bottom: 1px solid #000; }

.input-list {
  max-width: 500px;
  width: 100%;
  background-color: #eee;
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px; }

.table-cell {
  text-align: left;
  min-width: 150px;
  padding: 10px 10px 10px 0; }
  .table-cell.--header {
    font-family: "Roboto", "Avenir", "Helvetica Neue", sans-serif;
    line-height: 1.6;
    color: #292929;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 0; }

.taskinstance-task-wrapper {
  background-color: #ebebeb;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 2px; }

a {
  text-decoration: none;
  color: #478ac1;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s; }
  a:hover {
    color: #2A3E50; }

ol {
  list-style: decimal;
  padding-left: 1.5em;
  list-style-position: inside; }

code {
  font-size: 14px;
  white-space: pre-wrap;
  word-break: break-all; }

h4 {
  margin-top: 10px;
  font-size: 15px; }

.with-out-decimal {
  list-style: none; }
  .with-out-decimal > li {
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none; }
  .with-out-decimal.--pl {
    padding-left: 0px !important; }

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%; }

.searchbar {
  max-width: 500px !important;
  width: 100%; }

.order-list {
  background-color: #ebebeb;
  padding: 0;
  border-radius: 4px;
  width: 500px;
  padding: 10px;
  padding-bottom: 5px; }
  .order-list:has(> li) {
    padding: 0; }

.order-list-item {
  padding: 10px;
  position: relative;
  background-color: #fff;
  color: #292929;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 500;
  outline: none;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); }
  .order-list-item.drag-sort-active {
    background: transparent;
    color: transparent;
    cursor: -webkit-grab;
    cursor: grab;
    border: 1px solid #446a89; }
  .order-list-item.drag-sort-active > a {
    background: transparent;
    color: transparent; }
  .order-list-item.drag-sort-active > ol {
    opacity: 0; }

.loading-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000000000; }
  .loading-screen.m--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
