.container-admin {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative; }

.sidebar-link {
  text-decoration: none;
  color: #5a5b5e;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s; }
  .sidebar-link:hover {
    color: #478ac1; }
  .sidebar-link:active, .sidebar-link:visited {
    color: #292929; }
  .sidebar-link.--active {
    font-weight: 500; }

.container-grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 50px;
  position: relative;
  -ms-grid-columns: 150px minmax(250px, 1fr);
  grid-template-columns: 150px minmax(250px, 1fr); }

.form-group-col-2 {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 40px; }

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 100%; }

.input-label {
  position: absolute;
  font-size: 14px;
  font-family: "Roboto", "Avenir", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  color: #292929;
  font-weight: 300;
  margin-bottom: 10px;
  left: 10px;
  top: 14px;
  pointer-events: none;
  -webkit-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s; }

.input-label_error {
  position: absolute;
  top: calc(100% + 5px);
  font-size: 12px;
  font-family: "Roboto", "Avenir", "Helvetica Neue", sans-serif;
  color: #F7465D;
  display: none; }
  .input-label_error.--error {
    display: block; }
    .input-label_error.--error ~ .input {
      border: 1px solid #F7465D; }

.input {
  min-height: 50px;
  outline: none;
  background-color: #eee;
  border: 0;
  width: 100%;
  padding: 10px;
  border-radius: 2px;
  font-size: 14px;
  font-family: "Roboto", "Avenir", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  color: #292929;
  font-weight: 300;
  left: 10px; }
  .input:focus ~ .input-label, .input:not(:placeholder-shown) ~ .input-label {
    top: -20px;
    font-size: 12px; }
  .input.--textarea {
    height: 150px;
    resize: none; }
  .input.--output + .CodeMirror {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.code-label {
  position: relative;
  font-family: "Roboto", "Avenir", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  color: #292929;
  font-weight: 300;
  left: 10px;
  font-size: 12px;
  cursor: pointer; }

.checkbox-group {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  cursor: pointer; }

.input-list {
  width: 100%;
  background-color: #eee;
  max-height: 200px;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px; }

.table-cell {
  text-align: left;
  min-width: 150px;
  padding: 10px 10px 10px 0; }
  .table-cell.--header {
    font-family: "Roboto", "Avenir", "Helvetica Neue", sans-serif;
    line-height: 1.6;
    color: #292929;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 0; }

.taskinstance-task-wrapper {
  background-color: #ebebeb;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 2px; }

a {
  text-decoration: none;
  color: #478ac1;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s; }
  a:hover {
    color: #2A3E50; }

ol {
  list-style: decimal;
  padding-left: 1.5em;
  list-style-position: inside; }

code {
  font-size: 14px;
  white-space: pre-wrap;
  word-break: break-all; }

h4 {
  margin-top: 10px;
  font-size: 15px; }

.with-out-decimal {
  list-style: none; }
  .with-out-decimal > li {
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none; }
  .with-out-decimal.--pl {
    padding-left: 0px !important; }
