<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Taskdescription</title>
</head>
<body>
	<div class="sections">
		<span><%= sectionDescription.SectionDescription %></span>
	</div>
	<form action="/taskDescription" method="POST">
		<input type="number" placeholder="tasknumber" name="tasknumber">
		<textarea type="text" placeholder="taskdescription" name="taskdescription"></textarea>
		<button type="submit">Submit</button>
	</form>
</body>
</html>