<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Overview</title>
</head>
<body>
	<% for(var i = 0; i<sections.length; i++) { %>
		<ul>
			<li>
				<a href="/editor/<%=sections[i]._id%>"><%=sections[i].name %></a>
			</li>
		</ul>
	<%}%>
</body>
</html>