<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">
	<title>Overview</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="/css/general.css"/>
	<link rel="stylesheet" type="text/css" href="/css/section_overview/sectioninstance_overview.css"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
</head>
<body>
	<div class="modal">
		<div class="modal-content-wrapper">
			<div class="modal-backdrop" onclick="closeModal()"></div>
			<div class="modal-content">
				<h2 class="header-2">Hi there! &#128075</h2>
				<p>
					Wir haben festgestellt, dass du diese Applikation nicht mit einem Chrome-Browser aufrufst.
				</p>
				<p class="mb-20">
					Um sicher zustellen, dass die Applikation einwandfrei funktioniert, bitten wir dich, diese in einem Chrome-Browser zu öffnen.
				</p>
				<div class="button-wrapper">
					<button class="btn --green mr-10"><a class="link_button" target="_blank" href="https://www.google.com/chrome/?brand=CHBD&gclid=CjwKCAjwp_zkBRBBEiwAndwD9VBSUXdngv00h_h-Dukto45Q0eE-6WZhwELAzwZsQ_tl9olTg7AMwBoCyeoQAvD_BwE&gclsrc=aw.ds">Chrome herunterladen</a></button>
					<button class="btn --red" onclick="closeModal()" >Ohne Chrome weiter</button>
				</div>
			</div>
		</div>
	</div>
	<div class="header --big mb-50">
		<h1 class="header-1 white">HTML- und CSS- Editor</h1>
		<p class="header-text" onclick="scrollTo()">
			Lernen Sie die Grundlagen von HTML5 und CSS3 kennen und beginnen Sie mit dem Erstellen und Bearbeiten von Webseiten. 
		</p>
		<i class="arrow-down-svg" data-feather="chevron-down"></i>
	</div>
	<div class="section-container mb-30 scroll-to-js">
		<p>
			HTML ist die Grundlage aller Webseiten. Es wird verwendet, um Texten und Bildern Struktur und Form zugeben. CSS ist die Sprache, mit der HTML-Inhalte gestaltet werden. In den folgenden Kursen lernen Sie die Grundlagen beider Sprachen, damit Sie visuell ansprechende Webseiten erstellen können.
		</p>
		<div class="break --max-1000 mt-30"></div>
	</div>
	<div class="section-container">
		<% for(var i = 0; i<sectioninstances.length; i++) { %>
			<a href="/<%= sectioninstances[i]._id %>/overview" class="section-grid-container mb-50">
				<div class="section-grid__image">
					<i class="code-icon" data-feather="activity"></i>
				</div>
				<div class="section-grid__text-container">
					<h4 class="section-grid__text-container__headline"><%= sectioninstances[i].name %></h4>
					<p class="section-grid__text-container__text"><%- sectioninstances[i].description %></p>
				</div>
			</a>
		<%}%>
	</div>
	<script src="/js/init.bundle.js"></script>
	<script src="/js/scrollPolyfill.bundle.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
	<script>
		feather.replace()
	</script> 
</body>
</html>


