<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MY APP</title>
</head>
<body>
	<ul class="tasks">
		<% for(var i=0; i<tasks.length; i++) {%>
			<li class="task">
				<a href="/page2?id=<%= tasks[i]._id %>">
					<span><%= tasks[i].tasknumber %></span>
				</a>
			</li>
		<% } %>
	</ul>
	<form action="/tasks" method="POST">
		<input type="number" placeholder="tasknumber" name="tasknumber">
		<textarea type="text" placeholder="taskdescription" name="taskdescription"></textarea>
		<textarea type="text" placeholder="csssolution" name="csssolution"></textarea>
		<textarea type="text" placeholder="htmlsolution" name="htmlsolution"></textarea>
		<textarea type="text" placeholder="htmlsolution_user" name="htmlsolution_user"></textarea>
		<textarea type="text" placeholder="csssolution_user" name="csssolution_user"></textarea>
		<button type="submit">Submit</button>
	</form>
</body>
</html>