@import url(codemirror.css);
@import url(show-hint.css);
@import url(lucario.css);
@import url(lint.css);
.display {
  height: 100px; }

body {
  max-width: 100vw;
  width: 100%;
  color: #484848;
  overflow: hidden; }

.code-saved-wrapper {
  position: absolute;
  top: -2px;
  border-radius: 4px;
  font-family: sans-serif;
  padding: 5px;
  font-size: 12px;
  z-index: 10000000;
  color: #000;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #EBEBEB;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  .code-saved-wrapper.--saved {
    opacity: 1; }

.header {
  position: relative;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff;
  padding: 10px;
  background-color: #15141e;
  display: flex; }

.runbutton-wrapper {
  margin-left: auto; }
  .runbutton-wrapper:not([class*="--non-active"]):hover > .__open-console {
    display: block; }
  .runbutton-wrapper.--non-active:hover > .__syntax-error {
    display: block; }

.run-btn-hover {
  position: absolute;
  top: 115%;
  z-index: 10000000000;
  font-size: 15px;
  right: 10px;
  background-color: #292929;
  padding: 10px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15); }
  .run-btn-hover.__syntax-error {
    display: none; }
  .run-btn-hover.__open-console {
    display: none; }

.run-test {
  cursor: pointer;
  pointer-events: all; }
  .--non-active .run-test {
    cursor: default;
    pointer-events: none; }

.task-editor-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100vw;
  width: 100%;
  height: calc(100vh - 50px); }

.wrapper {
  position: relative;
  height: calc(100vh - 50px);
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: calc(50vw - 30px) 10px calc(50vw - 30px);
  grid-template-columns: repeat(2, calc(50vw - 30px));
  grid-template-areas: "html output" "css output";
  -ms-grid-rows: calc(50vh - 30px) 10px calc(50vh - 30px);
  grid-template-rows: repeat(2, calc(50vh - 30px)); }

.html_section {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: html;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 100%;
  height: 100%; }

.css_section {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  position: relative;
  grid-area: css;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%; }

.resize {
  position: absolute;
  cursor: pointer;
  z-index: 100000000;
  background-color: #2A3E50; }
  .resize.--vertical {
    height: 100%;
    width: 10px;
    left: calc(50% - 5px); }
    .resize.--vertical.--active {
      cursor: col-resize; }
  .resize.--horizontal {
    height: 10px;
    width: 50%;
    top: calc(50% - 5px); }
    .resize.--horizontal.--active {
      cursor: row-resize; }

.output {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  position: relative;
  background-color: #fff;
  width: 100%;
  height: calc(100vh - 50px);
  grid-area: output; }

.output-iframe {
  position: relative;
  width: 100%;
  height: calc(100% - 50px); }

.size-iframe {
  z-index: 10000000;
  position: absolute;
  right: 10px;
  top: 55px;
  font-size: 12px;
  font-family: sans-serif; }

.headeline-wrapper {
  background-color: #ebebeb;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  height: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.headline {
  font-family: sans-serif;
  color: #292929; }

.file-import-wrapper {
  margin-left: auto; }

.code_box {
  position: relative;
  height: 100%;
  width: 100%; }

.CodeMirror {
  height: calc(100% - 40px);
  background: none; }

.CodeMirror-scroll {
  max-width: 100%;
  outline: none;
  resize: none;
  overflow: auto;
  height: 100%;
  padding: 0;
  margin: 0; }

.task {
  position: absolute;
  opacity: 0; }
  .task:checked ~ .task-description {
    display: block;
    pointer-events: all; }
  .task:checked ~ .task-number {
    background-color: #292929;
    color: #fff; }

.task-number-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: calc(100vh - 50px);
  width: 50px;
  background-color: #ebebeb; }

.input-wrapper {
  height: 50px;
  width: 50px;
  position: relative;
  background-color: #ebebeb;
  border-bottom: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.task-number {
  width: 100%;
  cursor: pointer;
  height: 100%;
  position: relative;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.task-description {
  opacity: 1;
  pointer-events: none;
  background-color: #fff;
  font-family: sans-serif;
  line-height: 1.5;
  display: none; }
  .task-description.--active {
    display: block; }
  .--close .task-description {
    display: none; }

.close-task {
  position: absolute;
  right: 10px;
  font-size: 20px;
  top: 10px;
  cursor: pointer;
  background: none;
  border: 0;
  display: block; }
  .--close .close-task {
    display: none; }

.task-description-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: calc(100vh - 50px);
  z-index: 10000000;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 400px;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
  overflow-x: scroll; }
  .task-description-wrapper.--close {
    width: 0px;
    padding: 0; }

p {
  margin-bottom: 20px; }

img {
  width: 100%; }

code {
  font-family: Consolas;
  font-weight: bold;
  background-color: #f1f1f1;
  color: #222; }

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px; }
