@import '../base/variable'

html
	overflow: hidden
body
	overflow: hidden

.headeline-wrapper
	background-color: $grey
	position: absolute
	padding-right: 10px
	z-index: 10
	height: 50px
	width: 100%
	display: flex
	grid-area: codeHeadline
	flex-direction: row

.code-editor-header
	height: 100%
	align-self: flex-end
	background-color: $blue
	color: $grey
	font-size: 12px
	font-weight: 300
	min-width: 100px
	display: flex
	justify-content: center
	align-items: center
	margin-right: 10px
	user-select: none

.editor-btn-wrapper
	margin-left: auto
	display: flex
	align-self: center
	flex-direction: row

.file-icon
	background-repeat: no-repeat
	background-size: contain
	background-position: center
	width: 20px
	height: 15px
	&.--import
		background-image: url('../../img/upload.png')
	&.--export
		background-image: url('../../img/download.png')
	&.--reset
		margin-top: -2px
		height: 18px
		background-image: url('../../img/reset.png')

.file-import-wrapper
	margin-left: 10px
	position: relative
	overflow: hidden
	display: inline-block
	cursor: pointer
	&:hover > .btn
		background-color: #446a89


.file-import-wrapper input[type=file] 
	font-size: 100px
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%
	opacity: 0
	cursor: pointer

.reset
	margin-right: 10px

.html-css-wrapper
	position: relative
	height: 100%
	max-width: calc(100vw - 60px)
	min-width: 10px !important
	display: grid
	padding-left: 10px
	width: 100%
	grid-area: html_css
	grid-row-gap: 10px
	grid-template-columns: 100%
	grid-template-areas: "html" "css"

.section
	position: relative
	width: 100%
	height: 100%
	display: grid
	grid-template-columns: 100%
	grid-template-rows: 50px 1fr
	grid-template-areas: "codeHeadline" "code"
	&.--html
		grid-area: html
		z-index: 140
	&.--css
		grid-area: css
		z-index: 150

.code-box-wrapper
	position: relative
	grid-area: code
	height: 100%
	width: 100%
	z-index: 110
	
//Output
.output
	position: relative
	background-color: #fff
	width: 100%
	height: 100%
	grid-row: 1 / span 2
	padding-left: 10px
	z-index: 160

.output-iframe
	position: relative
	width: 100%
	max-width: 100%
	height: 100%

.size-iframe
	position: absolute
	user-select: none
	top: 10px
	right: 10px
	font-size: 12px
	z-index: 130
	font-family: sans-serif

.error-message-wrapper
	max-width: 100%
	width: 100%
	position: absolute
	bottom: 0
	padding: 5px 10px 10px 0px
	z-index: 100000
	background-color: $darkblue
	display: none
	&.--active
		display: flex

.error-message
	color: $red
	font-size: 12px
	padding-right: 10px
	padding-left: 10px
	font-family: "Consolas"
	line-height: 1.6
	font-weight: 300
	user-select: none

.close-wrapper
	position: absolute
	right: 20px
	top: 10px
	width: 12px
	height: 12px
	stroke: $red
	cursor: pointer

