@import url(../codemirror.css);
@import url(../show-hint.css);
@import url(../lucario.css);
@import url(../lint.css);
@import url(../simplescrollbars.css);
.CodeMirror-sizer {
  min-height: 100px !important;
  height: 100px !important;
  min-width: 100px;
  width: 100px; }

.CodeMirror-scrollbar-filler {
  background: #2A3E50; }

.CodeMirror-lint-tooltip {
  z-index: 100000000; }
