@import url(../codemirror.css);
@import url(../show-hint.css);
@import url(../lucario.css);
@import url(../lint.css);
.CodeMirror {
  width: 100%;
  height: 100%; }

.CodeMirror-scroll {
  width: 100%;
  height: 100%;
  outline: none;
  resize: none;
  overflow: auto;
  padding: 0;
  margin: 0; }

.CodeMirror-sizer {
  min-height: 100px !important;
  height: 100px !important;
  min-width: 100px;
  width: 100px; }
